@import "./bootstrap.min.css";
:root {
  --color1: #222831;
  --color2: #393e46;
  --color3: #00f2ff;
  --color4: #00adb5;
  --color5: #eeeeee;
}

body {
  background: #222831;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

.container {
  min-height: inherit;
}

.row {
  min-height: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  transition: all 0.5s ease;
}

.dark-box {
  position: relative;
  width: 100%;
  max-width: 700px;
  max-height: 600px;
  height: 100%;
  transform: scale(0);
  background-color: #fff;
  border: 2px solid #ccc;
  color: #222831;
  border-radius: 10px;
  opacity: 0;
  overflow-y: auto;
  transition: all 0.5s ease;
}

.dark-box.open {
  /* width: 100%;
  max-width: 700px;
  max-height: 600px;
  height: 100%; */
  opacity: 1;
  transform: scale(1);

  transition: all 0.5s ease;
}

.strip {
  min-height: 250px;
}

.strip h1 {
  color: var(--color3);
  letter-spacing: 0.1em;
}

header {
  min-height: 40px;
}

.row {
  columns: 4;
  column-gap: 40px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
